@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h2 localize>Подтверждение электронной почты</h2>
<div>
    <p localize>
        Благодарим вас за подтверждение вашей электронной почты.
    </p>
</div>
