<style>
    #addNews {
        position: fixed;
        top: 250px;
        background-color: #2bacfd;
        width: 250px;
        height: 200px;
        right: 100px;
        font-size:20px;
    }
</style>
<button class="btn btn-default" id="addNews">
    + Добавить пост
</button>