@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-md-12">
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
        <script src="~/js/GridJs.js"></script>
    </div>
</div>