/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    background-color: #EEEEEE;
    padding-top: 50px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;

}
.title {
    padding: 40px 20px 40px 70px;
    font-size: 30px;
    color: #757575;
}

.new {
    margin: 0px 100px 100px 100px;
    background-color: white;
}
.text {
    padding: 10px 70px 40px 70px;
    font-size: 20px;
    word-wrap: break-word;
}

.rating {
    padding: 15px 70px 15px 70px;
    border: 3px solid #E0E0E0;
    background-color: #ECEFF1;
    height: 70px;
}

.star {
    unicode-bidi: bidi-override;
    direction: rtl;
    float: right;   
    margin-right:40px;
}

    .star > span {
        display: inline-block;
        position: relative;
        font-size: 27px;
        color: #2bacfd;
    }

        .star > span:hover:before,
        .star > span:hover ~ span:before {
            content: "\2605";
            position: absolute;
        }

#addNewsForm {
    padding: 20px 50px 10px 50px;
}

#inputText {
    height: 600px;
    resize: none;
    font-size: 20px;
}

#inputTitle {
    height: 50px;
    resize: none;
    font-size: 20px;
}

.tags a {
    cursor: pointer;
    opacity: 0.6;
    font-size: 15px;
    margin-left: 10px;
}

#labelTitle, #labelText {
    font-size: 20px;
}


#addForm {
    background-color: #2bacfd;
}
.commentImg {
    width: 30px;
    float: left;
    margin: 0px 10px 0px 10px;
    opacity: 0.5;
}

.comments {
    padding: 10px 70px 10px 70px;
}

.authorComment {
    font-size: 20px;
    margin-bottom: 10px;
}
.textComment {
    margin-bottom: 10px;
    word-wrap: break-word;
}
.likesComment{
    float:right;
}

.heartComment, .disabled {
    font-size: 17px;
    float: right;
}

.rat {
    float: right;
}

.textareaComment {
    height: 100px;
    border-width: 0px;
    width: 100%;
    resize: none;
}

.inputComment {
    border-bottom: 1px solid #757575;
    opacity: 0.9;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.commentFooter {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #757575;
    opacity: 0.7;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
.date{
    float: right;
    font-size: 25px;
}


.ratingIcon {
    float: right;
    width: 35px;
    height: 35px;
}

.userName {

    float: right;
    margin: 5px 20px 0px 10px;
    font-size: 17px;
}

.countComments {
    color: #757575;
    font-size: 18px;
    height: 100%;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

footer {
    border-top: 3px solid #E0E0E0;
    background: #ECEFF1;
    flex: 0 0 auto;
    position: absolute;
    left: 0;
    width: 100%;
    height: 120px;
}

.header {
    background-color: #2bacfd;
    border-color: #2bacfd;
}



    .header .navbar-nav > li > a {
        color: #E3F2FD;
        font-size: 20px;
        font-family: Bahnschrift;
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .header .navbar-nav > li > .avatar {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .header .navbar-nav > li > .navbar-link {
        color: #E3F2FD;
        font-size: 20px;
        font-family: Bahnschrift;
    }

    .header .navbar-nav > li > .navbar-link:hover {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: Bahnschrift;
    }

.locale {
    margin-top: 15px;
    width: 60px;
}


#title {
    font-size: 35px;
    color: white;
    font-family: Impact;
}


.avatar {
    border-radius: 50%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
